{% extends 'base.html.twig' %}

{% block title %} Update Business Model Components {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4" data-prototype="{{ form_widget(form.components.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.components| length }}">
        <div class="card-header bg-danger">
            <b>Update Business Model Components</b>
        </div>
        <div class="card-body">
            {{ form_errors(form) }}
            {{ form_start(form) }}

            {#Type#}
            {{ form_row(form.type) }}

            {# Components #}
            <h6>Components</h6>
            <ul id="componentList">
                {% for value in form.components %}
                    <li class="d-flex flex-row align-items-center">
                        {{ form_widget(value) }}
                        <div class="d-flex flex-row justify-content-center m-1">
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ form_row(form.add_component, {'label':'Add Component'}) }}
            {{ form_row(form.description,{'label':'Description and Examples'}) }}

            <div class="d-flex flex-row flex-wrap mt-3 justify-content-between">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning remove-business-model-type" href="{{ path('delete_method_element',{'type':'definition','id':definition.id}) }}">Remove Business Model Type & All Components</a>
                <a class="btn btn-dark" href="{{ path('method_elements') }}"> Go Back To Method Elements</a>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("legend").remove();
        let container = $("#componentList");
        let card = $(".card");
        let prototype = card.data("prototype");
        let counter = card.data("index");

        let removeButton = `<div class="d-flex flex-row justify-content-center m-1">
                                       <button type="button" class="btn btn-danger">Remove</button>
                                   </div>`;

        $("#business_model_definition_add_component").on("click", function () {
            counter++;
            let newLi = $('<li class="d-flex flex-row align-items-center"></li>').append(prototype.replace(/__name__/g, counter));
            newLi.append(removeButton);
            container.append(newLi);
            listenForRemoval();
        });
        listenForRemoval();
        function listenForRemoval()
        {
            $(".btn-danger").on("click", function () {
                $(this).parent().parent().remove();
            });
        }

        $(".remove-business-model-type").on("click",function (e) {
            e.preventDefault();
            if(confirm("Are you sure? Any existing business model of this type will also be deleted!!"))
            {
                console.log("came here");
                window.location.href = $(this).attr('href');
            }
            return false;
        });

    </script>
{% endblock %}