{% extends 'base.html.twig' %}

{% block title %} Method Base {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4">

        <div class="card-header bg-info">
            <b>Create a Artifact</b>
        </div>

        <div class="card-body">
            {{ form_start(artifactForm) }}


            <div id="artifacts">
                {{ form_row(artifactForm.name) }}
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-dark" id="add-new-artifact">
                    Add another artifact
                </button>
            </div>{#test#}

            {{ form_row(artifactForm.Save) }}

            {{ form_end(artifactForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let artifactTemplate =
            `<div class="form-group">
                <label class="font-weight-bold required" for="artifact_name">Name</label>
                <div class="d-flex flex-row">
                    <input type="text" name="artifact[name]" required="required" class="form-control">
                    <button type="button" class="btn btn-danger remove-artifact">Remove</button>
                 </div>
             </div>`;

        $("#add-new-artifact").on("click",function () {
            $("#artifacts").append(artifactTemplate);
            $(".remove-artifact").on("click",function () {
                $(this).parent().parent().remove();
            });
        });

    </script>
{% endblock %}