{% extends 'base.html.twig' %}

{% block title %} Update Business Model Segments {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4" data-prototype="{{ form_widget(form.segments.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.segments| length }}">
        <div class="card-header bg-secondary">
            <b>Update Business Model Segments</b>
        </div>
        <div class="card-body">
            {{ form_errors(form) }}
            {{ form_start(form) }}

            {#Type#}
            {{ form_row(form.type) }}

            {# Segments #}
            <h6>Segments</h6>
            <ul id="segmentList">
                {% for value in form.segments %}
                    <li class="d-flex flex-row align-items-center">
                        {{ form_widget(value) }}
                        <div class="d-flex flex-row justify-content-center m-1">
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ form_row(form.add_segment) }}
            {{ form_row(form.description) }}

            <div class="d-flex flex-row flex-wrap mt-3 justify-content-between">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-dark" href="{{ path('method_elements') }}"> Go Back To Method Elements</a>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("legend").remove();
        let container = $("#segmentList");
        let card = $(".card");
        let prototype = card.data("prototype");
        let variants = card.data("index");

        let removeButton = `<div class="d-flex flex-row justify-content-center m-1">
                                       <button type="button" class="btn btn-danger">Remove</button>
                                   </div>`;

        $("#business_model_definition_add_segment").on("click", function () {
            let newLi = $('<li class="d-flex flex-row align-items-center"></li>').append(prototype.replace(/__name__/g, variants));
            newLi.append(removeButton);
            container.append(newLi);
            listenForRemoval();
        });
        listenForRemoval();
        function listenForRemoval()
        {
            $(".btn-danger").on("click", function () {
                $(this).parent().parent().remove();
            });
        }

    </script>
{% endblock %}