{% extends 'base.html.twig' %}

{% block title %} View Business Model Segments {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4" data-prototype="{{ form_widget(form.segments.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.segments| length }}">
        <div class="card-header bg-secondary">
            <b>View Business Model Components </b>
        </div>
        <div class="card-body">

            {#Name#}
            {{ form_row(form.type, { 'attr':{'disabled':'disabled'}}) }}

            {# Values #}
            <h6>Components</h6>
            <ul id="variantList">
                {% for value in form.segments %}
                    <li class="d-flex flex-row">
                        {{ form_widget(value, { 'attr':{'disabled':'disabled'}}) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_row(form.description, { 'attr':{'disabled':'disabled'}}) }}

            {{ form_end(form,{render_rest:false}) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

    </script>
{% endblock %}