{% extends 'base.html.twig' %}
{% block title %}BMD Graphs{% endblock %}


{% block body %}
    <div class="mt-2">
        {{ include('@includes/method_base_nav.html.twig') }}
    </div>
    <div class="mt-3 d-flex flex-row justify-content-center w-100">
        <a href="{{ path('create_bmd_graph') }}" class="btn btn-primary">Create a BMD Graph</a>
    </div>

    <div class="row mt-3">
        {% for graph in graphs %}
            <div class="col-sm-6 mt-2">
                <div class="card">
                    <div class="card-body" style="background: #93c7fb">
                        <h5 class="card-title">{{ graph.name }}</h5>
                        <p class="card-text">
                            <b>Primary Process Type:</b>
                            <a class="text-dark" target="_blank"  href="{{ path('view_process_type',{'name':graph.parentProcessKind}) }}">
                                {{ graph.parentProcessKind }}
                            </a>
                        </p>
                        <div class="card-text">
                            <b>Placeholder Process Types:</b>
                            <ul style="min-height:120px;max-height: 120px; overflow: auto">
                                {% for processType in graph.childProcessKinds %}
                                    <li>
                                        <a class="text-dark" target="_blank"
                                           href="{{ path('view_process_type',{'name':processType.name}) }}">
                                            {{ processType.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <hr>
                        <div class="card-text jus">
                            <b>Situational Factors:</b>
                            <ul style="min-height:200px;max-height: 200px; overflow: auto">
                                {% for factor in graph.situationalFactors %}
                                    <li>
                                        <a class="text-dark" target="_blank"
                                           href="{{ path('view_situational_factor',{'name':factor}) }}">{{ factor }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="d-flex flex-row justify-content-between flex-wrap">
                            <a href="{{ path('show_bmd_graph',{id:graph.id}) }}" class="btn btn-dark">Show Graph</a>
                            <a href="{{ path('edit_bmd_graph',{id:graph.id}) }}" class="btn btn-warning">Edit Graph</a>
                            <a href="{{ path('delete_bmd_graph',{id:graph.id}) }}" class="btn btn-danger">Delete Graph</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


    </script>

{% endblock %}
