{% extends 'base.html.twig' %}

{% block title %} Create Business Model Components {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4" data-prototype="{{ form_widget(form.businessModelComponents.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.businessModelComponents | length }}">
        <div class="card-header bg-danger">
            <b>Create New Business Model Components</b>
        </div>
        <div class="card-body">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            <div class="d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-success" id="add-new-businessModelDefinition">Add New Business Model Definition
                </button>
            </div>


            {{ form_row(form.businessModelComponents) }}


            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let card = $(".card");
        let businessModelComponents = $("#form_businessModelComponents");
        let removeBusinessModelDefinitionButton = `<div class="d-flex flex-row justify-content-center m-1">
                                       <button type="button" class="btn btn-danger">Remove Business Model Definition</button>
                                   </div>`;


        $("#add-new-businessModelDefinition").on("click", function () {
            let businessModelComponentCounter = card.data("index");
            let artifactPrototype = card.data("prototype");
            let newArtifact = artifactPrototype.replace(/__name__/g, businessModelComponentCounter);
            businessModelComponents.append(newArtifact);
            $("#form_businessModelComponents_" + businessModelComponentCounter).append(removeBusinessModelDefinitionButton);
            card.data('index', businessModelComponentCounter + 1);

            formatBusinessModelComponentSections(businessModelComponentCounter);
            listenForRemoval();

            let componentsContainer = $("#form_businessModelComponents_" + businessModelComponentCounter + "_components");
            let componentPrototype = (factorCount, variantCount) => `
                    <div class="form-group d-flex flex-row">
                      <input type="text" id="form_businessModelComponents_0_components_0" name="form[businessModelComponents][${factorCount}][components][${variantCount}]" required="required" class="form-control" />
                      <div><button type="button" class="btn btn-danger">Remove</button></div>
                    </div>`;
            let addComponentButton = $("#form_businessModelComponents_" + businessModelComponentCounter + "_add_component");
            addComponentButton.on("click", function () {
                let totalComponents = componentsContainer.children().length;
                componentsContainer.append(componentPrototype(businessModelComponentCounter, totalComponents));
                listenForRemoval();
            });
        });

        if (card.data("index") !== 0) {
            for (let i = 0; i < card.data("index"); i++) {
                formatBusinessModelComponentSections(i);
                $("#form_businessModelComponents_" + i).append(removeBusinessModelDefinitionButton);
                listenForRemoval();
            }
        }

        function formatBusinessModelComponentSections(counter) {
            $("#form_businessModelComponents_" + counter).css({
                "padding": "2%",
                "border": "1px solid #cacaca",
                "border-radius": "1%",
                "margin-top": "2%",
                "margin-bottom": "2%"
            });
        }
        function listenForRemoval()
        {
            $(".btn-danger").on("click", function () {
                $(this).parent().parent().remove();
            });
        }

    </script>
{% endblock %}