{% extends 'base_fluid.html.twig' %}

{% block title %}Business Model{% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="mt-3">
        {{ form(business_model_choice_form) }}
    </div>

    {{ form_start(business_model_form) }}
    <div class="mt-5">
        {% for segment in business_model_form.segments %}

            <div class="d-flex flex-column border border-primary rounded mt-2 p-3">
                <div class="d-flex flex-row">
                    <div style="width: 20%; min-width: 240px;">
                        <a target="_blank" href="{{ path('view_business_model_segment',{'name': preferred_business_model_type}) }}">{{ form_widget(segment.name) }}</a>
                    </div>
                    <div style="width: 80%; min-width: 400px;">
                        {{ form_widget(segment.values) }}
                    </div>
                </div> {# test #}
                <div class="d-flex flex-column mt-3" style="min-width: 650px;">
                    <span><b>Log:</b></span>
                    {{ form_widget(segment.log) }}
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="mt-3">
        {% if is_granted('ROLE_PLATFORM_OWNER') or is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_row(business_model_form.submit) }}
        {% endif %}
    </div>
    {{ form_end(business_model_form,{render_rest:false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#form_businessModelChoices").on("change",function () {
            $('form[name="form"]').submit();
        });
    </script>

{% endblock %}
