{% extends 'base.html.twig' %}

{% block title %}Method Building Blocks{% endblock %}

{% block body %}
    <div class="mt-2">
        {{ include('@includes/method_base_nav.html.twig') }}
    </div>

    <div class="mt-4 w-100 d-flex flex-row justify-content-center">
        <a href="{{ path('create_method_building_block') }}" class="btn btn-dark">Create method building block</a>
    </div>

    <div><span>Total Method Building Blocks: <b>{{ buildingBlocks|length }}</b></span></div>
    <div class="mt-4 d-flex flex-row flex-wrap">

        {% for block in buildingBlocks %}
            <div class="card" style="width: 31rem; margin:2%; background: #88b2d7;">
                <div class="card-header d-flex flex-row" style="max-height: 50px; overflow: auto; min-height: 50px">
                    <i class="fa fa-recycle" style="font-size:24px; width: 10%;"></i>
                    <span><b>Process:</b> <i style="font-size: large"><a target="_blank" class="text-white"
                                                                         href="{{ path('view_process',{'name':block.process}) }}">{{ block.process }}</a> </i></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-column" style="height:75px;max-height: 80px; overflow: auto">
                        <div class="d-flex flex-row">
                            <i class="fa fa fa-magic" style="font-size:24px; width: 10%;"></i>
                            <span><b>Process Type:</b>
                            <a class="text-dark" target="_blank" href="{{ path('view_process_type',{'name':block.process.parentProcessKind.name}) }}">
                            {{ block.process.parentProcessKind.name }}
                            </a>
                        </span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-column" style="height:70px;max-height: 80px; overflow: auto">
                        <div class="d-flex flex-row">
                            <i class="fa fa-file-text-o" style="font-size:24px; width: 10%;"></i>
                            <span><b>Input Artifacts:</b>
                            {% for artifact in block.inputArtifacts %}
                                {% if not loop.last %}
                                    <a class="text-dark" target="_blank" href="{{ path('view_artifact',{'name':artifact}) }}">{{ artifact~',' }}</a>
                                    {% else %}
                                    <a class="text-dark" target="_blank" href="{{ path('view_artifact',{'name':artifact}) }}">{{ artifact }}</a>
                                {% endif %}
                            {% endfor %}
                        </span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-column" style="height:75px;max-height: 80px; overflow: auto">
                        <div class="d-flex flex-row">
                            <i class="fa fa-file-text" style="font-size:24px; width: 10%;"></i>
                            <span><b>Output Artifacts:</b>
                            {% for artifact in block.outputArtifacts %}
                                {% if not loop.last %}
                                    <a class="text-dark" target="_blank" href="{{ path('view_artifact',{'name':artifact}) }}">{{ artifact~',' }}</a>
                                    {% else %}
                                    <a class="text-dark" target="_blank" href="{{ path('view_artifact',{'name':artifact}) }}">{{ artifact }}</a>
                                {% endif %}
                            {% endfor %}
                        </span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-column">
                        <div class="d-flex flex-row">
                            <i class="fa fa-globe" style="font-size:24px; width: 10%;"></i>
                            <b>Situational Factors:</b>
                        </div>
                        <ul style="height:100px;max-height: 100px; overflow: auto">
                            {% for factor in block.situationalFactors %}
                                <li>
                                    <a class="text-dark" target="_blank" href="{{ path('view_situational_factor',{'name':factor}) }}">{{ factor }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="list-group-item d-flex flex-column" style="height:75px;max-height: 80px; overflow: auto">
                        <div>
                            <i class="fa fa-gavel" style="font-size:24px; width: 10%;"></i>
                            <span><b>Tools:</b> {% if block.implodedTools is empty %} No Tools Required {% else %}{{ block.implodedTools }} {% endif %}</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-column" style="height:70px;max-height: 80px; overflow: auto">
                        <div class="d-flex flex-row">
                            <i class="fa fa-group" style="font-size:24px; width: 10%;"></i>
                            <span><b>Roles:</b>
                                {% for role in block.roles %}
                                    {% if not loop.last %}
                                        <a class="text-dark" target="_blank" href="{{ path('view_role',{'name':role.name}) }}">{{ role.name~',' }}</a>
                                    {% else %}
                                        <a class="text-dark" target="_blank" href="{{ path('view_role',{'name':role.name}) }}">{{ role.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-row justify-content-around">
                        <button type="button" class="btn btn-danger rounded w-25">Remove</button>
                        <a href="{{ path('edit_method_building_block',{'id':block.id}) }}"
                           class="btn btn-info rounded w-25">Edit</a>
                    </li>
                </ul>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


    </script>
{% endblock %}
