{% extends 'base.html.twig' %}

{% block title %} Create Situational Factors {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Form box #}
    <div class="card mt-4" data-prototype="{{ form_widget(form.situationalFactors.vars.prototype)|e('html_attr') }}"
         data-index="{{ form.situationalFactors| length }}">
        <div class="card-header bg-secondary">
            <b>Create Situational Factors</b>
        </div>
        <div class="card-body">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            <div class="d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-success" id="add-new-situationalFactor">Add new Situational
                    Factor
                </button>
            </div>


            {{ form_row(form.situationalFactors) }}


            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let card = $(".card");
        let situationalFactors = $("#form_situationalFactors");
        let removeSituationalFactorButton = `<div class="d-flex flex-row justify-content-center m-1">
                                       <button type="button" class="btn btn-danger">Remove Situational Factor</button>
                                   </div>`;


        $("#add-new-situationalFactor").on("click", function () {
            let situationalFactorCounter = card.data("index");
            let artifactPrototype = card.data("prototype");
            let newArtifact = artifactPrototype.replace(/__name__/g, situationalFactorCounter);
            situationalFactors.append(newArtifact);
            $("#form_situationalFactors_" + situationalFactorCounter).append(removeSituationalFactorButton);
            card.data('index', situationalFactorCounter + 1);

            formatSituationalFactorSections(situationalFactorCounter);
            listenForRemoval();

            let variantsContainer = $("#form_situationalFactors_" + situationalFactorCounter + "_variants");
            let variantPrototype = (factorCount, variantCount) => `
                    <div class="form-group d-flex flex-row">
                      <input type="text" id="form_situationalFactors_0_variants_0" name="form[situationalFactors][${factorCount}][variants][${variantCount}]" required="required" class="form-control" />
                      <div><button type="button" class="btn btn-danger">Remove</button></div>
                    </div>`;
            let addVariantButton = $("#form_situationalFactors_" + situationalFactorCounter + "_add_variant");
            addVariantButton.on("click", function () {
                let totalVariants = variantsContainer.children().length;
                variantsContainer.append(variantPrototype(situationalFactorCounter, totalVariants));
                listenForRemoval();
            });
        });

        if (card.data("index") !== 0) {
            for (let i = 0; i < card.data("index"); i++) {
                formatSituationalFactorSections(i);
                $("#form_situationalFactors_" + i).append(removeSituationalFactorButton);
                listenForRemoval();
            }
        }

        function formatSituationalFactorSections(counter) {
            $("#form_situationalFactors_" + counter).css({
                "padding": "2%",
                "border": "1px solid #cacaca",
                "border-radius": "1%",
                "margin-top": "2%",
                "margin-bottom": "2%"
            });
        }
        function listenForRemoval()
        {
            $(".btn-danger").on("click", function () {
                $(this).parent().parent().remove();
            });
        }

    </script>
{% endblock %}