{% extends 'base_fluid.html.twig' %}

{% block title %} Update Process {% endblock %}

{% block body %}

    {# Warning messages #}
    <div class="mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div style="display: flex; flex-direction: row; ">

        {# Form box #}
        <div class="card mt-4 w-50" style="min-width: 50%;">
            <div class="card-header bg-success">
                <b>Update Process</b>
            </div>
            <div class="card-body">
                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.parentProcessKind) }}
                <div class="d-flex flex-column">
                    <h5> In which other process types can it be used?</h5>
                    <div style="max-height: 120px; overflow: auto">
                        {{ form_row(form.otherRelatedProcessKinds) }}
                    </div>

                </div>

                <button type="submit" class="btn btn-primary mt-3">Save</button>
                {{ form_end(form) }}

            </div>
        </div>

        {# Picture #}
        <div class="p-4 w-50">
            <h4 style="text-align: center"><u>Recommendation of processes in any situation</u>  </h4>
            <img class="w-100" src="{{ asset('images/ProcessRecommendation.JPG') }}">
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("legend").remove();
            let parentAndChildProcessTypes = JSON.parse(("{{ childAndParentProcessTypes|json_encode  }}").
            replace(/&quot;/ig,'"'));
            console.log(parentAndChildProcessTypes);

            let parentProcessKind = $("#process_parentProcessKind");
            disableParentProcessTypesInRelatedTypes();

            parentProcessKind.on("change", function () {
                $('input[type=checkbox]').each(function (){
                    $(this).parent().css("display","block");
                });
                disableParentProcessTypesInRelatedTypes();
            });

            function disableParentProcessTypesInRelatedTypes() {
                let processType = parentProcessKind.find(":selected").text();
                let parentProcessType = parentAndChildProcessTypes[processType];
                let childProcessType = null;

                Object.entries(parentAndChildProcessTypes).forEach(([key, value]) => {
                    if(`${value}`===processType) // "a 5", "b 7", "c 9"
                        childProcessType = `${key}`
                });

                $('input[type=checkbox]').each(function () {
                    if (processType === $(this).next('label').text())
                    {
                        if($(this).is(":checked"))
                            $(this).prop('checked', false);
                        $(this).parent().css("display", "none");
                    }
                    if (parentProcessType === $(this).next('label').text())
                    {
                        if($(this).is(":checked"))
                            $(this).prop('checked', false);
                        $(this).parent().css("display", "none");
                    }
                    if (childProcessType === $(this).next('label').text())
                    {
                        if($(this).is(":checked"))
                            $(this).prop('checked', false);
                        $(this).parent().css("display", "none");
                    }
                });
            }
        });


    </script>
{% endblock %}