{% extends 'base.html.twig' %}

{% block title %}Enactments{% endblock %}

{% block body %}

    <style>
        body {
            background: rgba(0, 0, 0, 0.22);
        }
    </style>

    <hr>

    <div class="d-flex flex-row flex-wrap">

        {% for method in situationalMethods %}
            <div class="card m-3">
                <a href="{{ path('enactment',{id:method.id}) }}">
                    <i class="fa fa-gears card-img-top d-flex flex-row justify-content-center mt-3" style="font-size:50px;color:#3d8aee"></i>
                </a>
                <div class="card-body"> {#lol#}
                    <p class="card-text"><b>Method Name</b>:<br> {{ method.name }}</p>
                    <p class="card-text"><b>Platform Owner Name</b>:<br> {{ method.platformOwner.employeeName }}</p>
                    <p class="card-text"><b>Platform Owner Email</b>:<br> {{ method.platformOwner.email }}</p>
                    <p class="card-text"><b>Business Model Type</b>:<br> {{ method.businessModelType }}</p>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}




