{% extends 'base.html.twig' %}

{% block title %}Situational Methods{% endblock %}

{% block body %}

    <style>
        body {
            background: rgba(0, 0, 0, 0.22);
        }
    </style>

    <a href="{{ path('construct_situational_method') }}" class="mt-2 btn btn-success">Create a new
        situational method </a>
    <hr>

    <div class="d-flex flex-row flex-wrap">

        {% for method in situationalMethods %}
            <div class="m-2 p-3 rounded" style=" background: #53bbee; width: 48%; min-width: 400px; ">
                <div class="container">
                    <h4><b><i style="color: #222">Method Name: </i></b>{{ method.name }}</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name of platform owner</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Username" value="{{ method.platformOwnerName }}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone number</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Username" value="{{ method.platformOwnerPhone }}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Username" value="{{ method.platformOwnerAddress }}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="email" class="form-control" aria-label="Username" value="{{ method.platformOwnerEmail }}" disabled>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <a href="{{ path('show_situational_method',{id:method.id}) }}" class="btn btn-dark">Show Method</a>
                        <a href="{{ path('modify_situational_method',{id:method.id}) }}" class="btn btn-warning">Modify Method</a>
                        <a href="{{ path('delete_situational_method',{id:method.id}) }}" class="btn btn-danger">Delete Method</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    {#{% for method in situationalMethods %}

    {% endfor %}#}

{% endblock %}




