{% extends 'base.html.twig' %}

{% block title %} Method Elements {% endblock %}

{% block body %}

    <div class="mt-5">
        {{ include('@includes/method_base_nav.html.twig') }}
    </div>

    <div class="w-100 d-flex flex-row justify-content-around" style="margin-top:5%">
        <div class="d-flex flex-column justify-content-around align-items-center" style="width: 33%">
            <a href="{{ path('create_process') }}" class="btn btn-sm btn-success"> Create New Processes</a>
            <a href="{{ path('create_role') }}" class="btn btn-sm btn-warning mt-1"> Create New Roles</a>

        </div>
        <div class="d-flex flex-column justify-content-around align-items-center" style="width: 33%">
            <a href="{{ path('create_artifact') }}" class="btn btn-sm btn-info"> Create New Artifacts</a>
            <a href="{{ path('create_tool') }}" class="btn btn-sm btn-dark mt-1"> Create New Tools</a>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center" style="width: 33%">

            <a href="{{ path('create_process_type') }}" class="btn btn-sm btn-primary"> Create New Process Types</a>
            <a href="{{ path('create_situational_factor') }}" class="btn btn-sm btn-secondary mt-1"> Create New Situational Factors</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header bg-success">
            <b>Total Processes: {{ processes|length }}</b>
        </div>
        <div class="table-responsive" style="max-height: 500px">
            <table class="table table-sm table-success">
                <thead class="text-center">
                <tr style="position: sticky;top: 0;background: #bde3a9;">
                    <th scope="col">Index</th>
                    <th scope="col">Name of Process</th>
                    <th scope="col">Process Type</th>
                    <th scope="col">Applicability in other types</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>{#test#}
                <tbody class="text-center bg-transparent">
                {% for process in processes %}
                    <tr>
                        <td><a href="{{ path('edit_process',{'id':process.id}) }}">{{ loop.index }}</a></td>
                        <td>{{ process.name }}</td>
                        <td>{{ process.parentProcessKind.name }}</td>
                        <td>{{ process.implodedOtherRelatedProcessKinds }}</td>
                        <td><a href="{{ path('delete_method_element',{id:process.id,type:'process'}) }}" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <b>Total Process Types: {{ processTypes|length }}</b>
        </div>
        <div class="table-responsive" style="max-height: 500px">
            <table class="table table-sm table-primary">
                <thead class="text-center">
                <tr style="position: sticky;top: 0;background: #60c5fc;">
                    <th scope="col">Index</th>
                    <th scope="col">Name of Process Type</th>
                    <th scope="col">Parent Process Type</th>
                    <th scope="col">Related Processes</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for type in processTypes %}
                    <tr>
                        <td><a href="{{ path('edit_process_type',{'id':type.id}) }}">{{ loop.index }} </a></td>
                        <td>{% if type.childProcessKinds is not empty %}{{ type.name~'*' }}{% else %}{{ type.name }}{% endif %}</td>
                        <td>{{ type.parentProcessKind }}</td>
                        <td style="text-align: left; width: 30%;">{{ type.implodedProcesses }}</td>
                        <td><a href="{{ path('delete_method_element',{'id':type.id,'type':'processKind'}) }}" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-warning">
            <b>Total Roles: {{ roles|length }}</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-warning">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name of Role</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for role in roles %}
                    <tr>
                        <td><a href="{{ path('edit_role',{'id':role.id}) }}">{{ loop.index }} </a></td>
                        <td>{{ role.name }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-info">
            <b>Total Artifacts: {{ artifacts|length }}</b>
        </div>
        <div class="table-responsive" style="max-height: 500px">
            <table class="table table-sm table-info">
                <thead class="text-center">
                <tr style="position: sticky;top: 0;background: #a4dadd;">
                    <th scope="col">Index</th>
                    <th scope="col">Name of Artifact</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for artifact in artifacts %}
                    <tr>
                        <td><a href="{{ path('edit_artifact',{'id':artifact.id}) }}">{{ loop.index }} </a></td>
                        <td>{{ artifact.name }}</td>
                        <td><a href="{{ path('delete_method_element',{id:artifact.id,type:'artifact'}) }}" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mt-5">
        <div class="card-header bg-dark text-white">
            <b>Total Tools: {{ tools| length }}</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-dark">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Tool Type</th>
                    <th scope="col">Tools</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for tool in tools %}
                    <tr>
                        <td><a href="{{ path('edit_tool',{'id':tool.id}) }}">{{ loop.index }} </a></td>
                        <td>{{ tool.type }}</td>
                        <td>{{ tool.implodedVariants }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-secondary">
            <b>Total Situational Factors: {{ situationalFactors|length }}</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-secondary">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Values</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for factor in situationalFactors %}
                    <tr>
                        <td><a href="{{ path('edit_situational_factor',{'id':factor.id}) }}">{{ loop.index }} </a></td>
                        <td>{{ factor.name }}</td>
                        <td>{{ factor.implodedVariants }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}