{% extends 'base.html.twig' %}

{% block title %} Method Base {% endblock %}

{% block body %}

    <div class="mt-2 w-100 d-flex flex-row justify-content-around" style="margin:auto">
        <a href="{{ path('create_process') }}" class="btn btn-sm btn-success"> Create new Processes</a>
        <a href="{{ path('create_role') }}" class="btn btn-sm btn-warning"> Create new Roles</a>
        <a href="{{ path('create_artifact') }}" class="btn btn-sm btn-info"> Create new Artifacts</a>
        <a href="{{ path('create_tool') }}" class="btn btn-sm btn-dark"> Create new Tools</a>
        <a href="{{ path('create_process_type') }}" class="btn btn-sm btn-primary"> Create new Process Types</a>
        <a href="{{ path('create_situational_factor') }}" class="btn btn-sm btn-secondary"> Create new Situational Factors</a>
    </div>

    <div class="card mt-4">
        <div class="card-header bg-success">
            <b>Processes</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-success">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Process Type</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center bg-transparent">
                {% for process in processes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ process.name }}</td>
                        <td>{{ process.processKind }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-warning">
            <b>Roles</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-warning">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for role in roles %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ role.name }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-info">
            <b>Artifacts</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-info">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for artifact in artifacts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ artifact.name }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mt-5">
        <div class="card-header bg-dark text-white">
            <b>Tools</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-dark">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Type</th>
                    <th scope="col">Tools</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for tool in tools %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ tool.type }}</td>
                        <td>{{ tool.getVariants() }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mt-5">
        <div class="card-header bg-primary">
            <b>Process Types</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-primary">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for type in processTypes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ type.name }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mt-5">
        <div class="card-header bg-secondary">
            <b>Situational Factors</b>
        </div>
        <div class="card-body">
            <table class="table table-sm table-secondary">
                <thead class="text-center">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Values</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for factor in situationalFactors %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ factor.name }}</td>
                        <td>{{ factor.getVariants() }}</td>
                        <td><a href="#" ><i style="font-size:24px" class="fa">&#xf014;</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}